# Copia este archivo a .env.prod y rellena los valores
DATABASE_URL=postgresql://freiduria:CAMBIA_ESTO@postgres:5432/freiduria_tpv
POSTGRES_USER=freiduria
POSTGRES_PASSWORD=CAMBIA_ESTO
POSTGRES_DB=freiduria_tpv
NODE_ENV=production
CORS_ORIGIN=https://byalboroto.duckdns.org
PORT=3001
